.logo {
    margin-top: 20px;
    margin-left: 10px;
}
.nav-wrapper {
    font-family: 'Roboto', sans-serif;
}

.dropdown-content li>a>i {
    margin: 0 0px 0 0!important;
     
    
}
#topbarsearch .input-field .autocomplete { 
    margin-right: 100px;
    
    width: 120px ;
    }    
    .btn {
        background-color: #ff3541;
        border-radius: 30px;
        border: 2px solid red;
    }
  .btn:hover {
      background-color: white;
      
      color: red !important;
      text-align: center;
  }

  #products {
      width: 300px !important;
  }
  
  .landing {
      background-color: black;
      color: white;
      height: 300px;
  }
  .leftbox {
      display: flex;
      border: 3px solid white;
      width: 50%;
      height: 100%;
      text-align: left;
      flex-direction: column;
  }