.logo {
    margin-top: 20px;
    margin-left: 10px;
}
.nav-wrapper {
    font-family: 'Roboto', sans-serif;
}

.dropdown-content li>a>i {
    margin: 0 0px 0 0!important;
     
    
}
#topbarsearch .input-field .autocomplete { 
    margin-right: 100px;
    
    width: 120px ;
    }    
    .btn {
        background-color: #ff3541;
        border-radius: 30px;
    }
  .btn:hover {
      background-color: white;
      border: 2px solid red;
      color: red !important;
      text-align: center;
  }